:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  text-decoration: none;
}

.link-sub{
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

body {
  /* margin: 0; */
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 90vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.fondo {
  /* background-color: #c30025;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-attachment: fixed; */
  padding: 0;
    /* margin-bottom: 80px; */
    background: #F5C556;
}

.card {
  border: 0;
  border-radius: 1rem;
  /* background: transparent; */
  margin-top: 30px;
  transition: ease 0.5s;
  width: 85%;
  animation-name: opacity;
  animation-duration: 1s;
}
.card:hover {
  transform: scale(1.1);
}

.circle{
  border-radius: 50%;
  background-color: #ffffff38;
}

.card__circle {
  background: #ffffff;
  width: 185px;
  height: 185px;
  border-radius: 50%;
  margin: 22px auto -168px auto;
  opacity: 0.2;
}

/* types pokemon */

.normal, #normal {
  background-color: #bfb16e;
}

.fighting, #fighting {
  background-color: #cf5c35;
}

.flying, #flying {
  background-color: #bea0c2;
}

.poison, #poison {
  background-color: #b96889;
}

.poison {
  background-color: #b96889;
}

.ground, #ground {
  background-color: #e6c163;
}

.rock, #rock {
  background-color: #c9ab40;
}

.bug, #bug {
  background-color: #bebb30;
}

.ghost, #ghost {
  background-color: #987984;
}

.steel, #steel {
  background-color: #cabbac;
}

.fire, #fire {
  background-color: #f2953b;
}

.water, #water {
  background-color: #92a0c2;
}

.grass, #grass {
  background-color: #9dc652;
}

.electric, #electric {
  background-color: #f7cd3b;
}

.psychic, #psychic {
  background-color: #f77979;
}

.ice, #ice {
  background-color: #b4d2b1;
}

.dragon, #dragon {
  background-color: #a172bf;
}

.dark, #dark {
  background-color: #98794c;
}

.fairy, #fairy {
  background-color: #f0a692;
}

.unknown, #unknown {
  background-color: rgba(255, 202, 142, 0.7);
}

.shadow, #shadow {
  background-color: rgba(42, 78, 141, 0.7);
}